@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.scroll {
  width: 900px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.content-box {
  width: 1800px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card p {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.action-btns button {
  font-size: 15px;
  font-weight: 500;
  color: #002d36;
  background-color: #99c6cf;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.action-btns button:hover {
  color: #fff;
  background-color: #002d36;
}
